In [33]:
# Dependencies and Setup
%matplotlib inline
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
from scipy.stats import sem

# Hide warning messages in notebook
import warnings
warnings.filterwarnings('ignore')

# File to Load (Remember to Change These)
mouse_drug_data_to_load = "data/mouse_drug_data.csv"
clinical_trial_data_to_load = "data/clinicaltrial_data.csv"

# Read the Mouse and Drug Data and the Clinical Trial Data
mouse_df = pd.read_csv(mouse_drug_data_to_load)
trialdata_df = pd.read_csv(clinical_trial_data_to_load)

# Combine the data into a single dataset
combined_df = pd.merge(mouse_df, trialdata_df, how='outer', on="Mouse ID")

# Display the data table for preview
combined_df.head()

  Mouse ID      Drug  Timepoint  Tumor Volume (mm3)  Metastatic Sites
0     f234  Stelasyn          0           45.000000                 0
1     f234  Stelasyn          5           47.313491                 0
2     f234  Stelasyn         10           47.904324                 0
3     f234  Stelasyn         15           48.735197                 1
4     f234  Stelasyn         20           51.112713                 2

## Tumor Response to Treatment

In [38]:
# Store the Mean Tumor Volume Data Grouped by Drug and Timepoint 
# Convert to DataFrame
# Using GroupBy in order to separate the data into fields according to "Drug" and "Timepoint"
grouped_tumor_df = combined_df.groupby(['Drug','Timepoint'])

# Calculate the Mean Tumor Volume
tumor_mean_df = pd.DataFrame(grouped_tumor_df['Tumor Volume (mm3)'].mean())
tumor_mean_df

                     Tumor Volume (mm3)
Drug      Timepoint
Capomulin 0                   45.000000
          5                   44.266086
          10                  43.084291
          15                  42.064317
          20                  40.716325
...                                 ...
Zoniferol 25                  55.432935
          30                  57.713531
          35                  60.089372
          40                  62.916692
          45                  65.960888

[100 rows x 1 columns]

In [39]:
# Store the Standard Error of Tumor Volumes Grouped by Drug and Timepoint

# Calculate standard error on means
tumor_sem_df = pd.DataFrame(grouped_tumor_df['Tumor Volume (mm3)'].sem())
tumor_sem_df

# Preview DataFrame

                     Tumor Volume (mm3)
Drug      Timepoint
Capomulin 0                    0.000000
          5                    0.448593
          10                   0.702684
          15                   0.838617
          20                   0.909731
...                                 ...
Zoniferol 25                   0.602513
          30                   0.800043
          35                   0.881426
          40                   0.998515
          45                   1.003576

[100 rows x 1 columns]

In [17]:
# Minor Data Munging to Re-Format the Data Frames

# Preview that Reformatting worked

In [18]:
# Generate the Plot (with Error Bars)

# Save the Figure

In [19]:
# Show the Figure
plt.show()

![Tumor Response to Treatment](../Images/treatment.png)

## Metastatic Response to Treatment

In [48]:
# Store the Mean Met. Site Data Grouped by Drug and Timepoint 
# Calculate the Mean Tumor Volume
meta_mean_df = pd.DataFrame(grouped_tumor_df['Metastatic Sites'].mean())
meta_mean_df
# Convert to DataFrame

# Preview DataFrame

                     Metastatic Sites
Drug      Timepoint
Capomulin 0                  0.000000
          5                  0.160000
          10                 0.320000
          15                 0.375000
          20                 0.652174
...                               ...
Zoniferol 25                 1.687500
          30                 1.933333
          35                 2.285714
          40                 2.785714
          45                 3.071429

[100 rows x 1 columns]

In [49]:
# Store the Standard Error associated with Met. Sites Grouped by Drug and Timepoint 
meta_sem_df = pd.DataFrame(grouped_tumor_df['Metastatic Sites'].sem())
meta_sem_df


# Convert to DataFrame

# Preview DataFrame

                     Metastatic Sites
Drug      Timepoint
Capomulin 0                  0.000000
          5                  0.074833
          10                 0.125433
          15                 0.132048
          20                 0.161621
...                               ...
Zoniferol 25                 0.236621
          30                 0.248168
          35                 0.285714
          40                 0.299791
          45                 0.286400

[100 rows x 1 columns]

In [22]:
# Minor Data Munging to Re-Format the Data Frames

# Preview that Reformatting worked

In [23]:
# Generate the Plot (with Error Bars)

# Save the Figure

# Show the Figure

![Metastatic Spread During Treatment](../Images/spread.png)

## Survival Rates

In [24]:
# Store the Count of Mice Grouped by Drug and Timepoint (W can pass any metric)

# Convert to DataFrame

# Preview DataFrame

In [25]:
# Minor Data Munging to Re-Format the Data Frames

# Preview the Data Frame

In [26]:
# Generate the Plot (Accounting for percentages)

# Save the Figure

# Show the Figure
plt.show()

![Metastatic Spread During Treatment](../Images/survival.png)

## Summary Bar Graph

In [27]:
# Calculate the percent changes for each drug

# Display the data to confirm

In [28]:
# Store all Relevant Percent Changes into a Tuple


# Splice the data between passing and failing drugs


# Orient widths. Add labels, tick marks, etc. 


# Use functions to label the percentages of changes


# Call functions to implement the function calls


# Save the Figure


# Show the Figure
fig.show()

NameError: name 'fig' is not defined

![Metastatic Spread During Treatment](../Images/change.png)